<?xml version="1.0"?>

<configuration>
	<appSettings>
        <add key="ClientId" value="48bcaf79131244a49d238721f3c0b78b" />
        <add key="ClientSecret" value="d494de44e8074f21860149a28db1f7ef" />
        <add key="RequestUri" value="http://healthgraphnet.azurewebsites.net/" />
    </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>