<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="RequestUri" value="" />
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>